*{box-sizing: border-box;}

html, body{height: 100%; margin: 0; z-index: 1;}

.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    text-align: center;
}

.space{
    padding-bottom: 150px;
}

.fixed-bg {
    min-height: 100vh;
    background-attachment: fixed;
    /*background-size: cover;*/
    background-position: center;
    background-image: url("./img/bg_patt.png");
    /*background-image: url("./img/webb.png");*/
    background-repeat: repeat;
}


header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

.header-shadow{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.header-contents{
    position: relative;
}

.header-left{
    float: left;
}

.logo{
    width: 60px;
    height: 60px;
    margin: 5px 0;
    float: left;
}

/*
.header-left h1{
    font-family: "Hiragino Maru Gothic ProN";
    font-size: 30px;
    margin: 10px;
    float: left;
    color: #424242;
}
*/

.header-list{
    float: right;
}

.header-list-li{
    list-style: none;
    text-align: center;
    float: left;
}

.header-list-item{
    font-family: "Hiragino Maru Gothic ProN";
    font-size: 18px;
    text-decoration: none;
    color: #424242;
    display: block;
    line-height: 70px;
    padding: 0 30px;
    transition: all 500ms;
}

.header-list-item:hover{
    /*background-color: #f36767;*/
    background-color: #ffaf00;
    color: white;
    text-decoration: none;
}

.top-banner-margin{
    height: 70px;
    background-image: url("./img/bg_patt.png");
    background-repeat: repeat;
}

.top-banner{
    /*background-color: #f36767;*/
    background-image: url("./img/top-banner.jpg");
    background-size: cover;
    z-index: 1;
    line-height: 0;
    height: calc(100% - 70px);
}

.top-banner-wrapper{
    padding: 50px 100px;
}

.top-banner h1{
    font-family: "Zapfino";
    color: white;
    color: #fff;
    font-size: 50px;
    padding-top: 5%;
}

.about{

}

.about-wrapper{
    display: flex;
    margin: 0 auto;
}

.title{
    font-family: "Hiragino Maru Gothic ProN";
    font-size: 53px;
    line-height: 59px;
    color: #424242;
    padding-top: 150px;
    padding-bottom: 50px;
}

.about img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
}

.introduction-wrapper{
    font-family: "Hiragino Maru Gothic ProN";
    color: #424242;
    width: 31%;
    display: inline-block;
    margin-right: auto;
    margin-left: 40px;
    padding-top: 20px;
    text-align: left;
}

.introduction-wrapper h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.fa-github{
    color: #252A2B;
    background-color: white;
    border-radius: 100%;
    font-size: 2.5em;
    display: inline-block;
    margin-top: 20px;
}

.clear{
    clear: left;
}

.portfolio{

    background-color: #FAFAFA;
}

.portfolio-items-wrapper{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    flex: auto;
    display: inline-block;
    float: left;
    padding-bottom: 50px;
}

.item-name{
    font-family: "Hiragino Maru Gothic ProN";
    padding-bottom: 20px;
    color: #424242;
    font-size: 20px;
}


.portfolio-item img {
    height: 200px;
    width: auto;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.tree-wrapper{
    border-left: 10px solid saddlebrown;
    height: 100%;
    text-align: left;
    margin-left: 10%;
}

.tree-wrapper li{
    list-style: none;
}

.tree-item{
    padding-top: 75px;
}

.tree-item-img{
    display: flex;
}

.tree-border-set{
    height: 50%;
}

.tree-conect-border{
    border-bottom: 8px solid saddlebrown;
    width: 20%;
    height: 125px;
    position: relative;
}

.tree-conect-border h3{
    position: absolute;
    font-family: "Hiragino Maru Gothic ProN";
    bottom: 5%;
    left: 5%;
    color: #424242;
}

.woodwork{
    border: 8px solid saddlebrown;
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    object-position:0px 0px;
}

.badminton{
    border: 8px solid saddlebrown;
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    object-position:-80px 0px;
}

.kosen{
    border: 8px solid saddlebrown;
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    object-position:-70px 0px;
}

.drone{
    border: 8px solid saddlebrown;
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    object-position:-60px 0px;
}


.tree-item-text{
    display: flex;
    height: 125px;
    margin-top: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}

.tree-item-text h3{
    width: 100%;
    background-color: rgba(139, 69, 19, 0.7);
    border-left: 8px solid saddlebrown;
    color: white;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 28px;
    font-weight: normal;
    padding: 35px 30px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #ffaf00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer h2{
    font-weight: normal;
    color: white;
    font-size: 14px;
    padding-top: 40px;
}

.hamburger-menu{
    display: none;
}



@media screen and (max-width:480px){

    nav{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        height: auto;
        background-color: blue;
        z-index: 4;
    }

    .is-opened{
        display: block;
    }

    .is-enable{
        display: block;
    }


    .hamburger-menu{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .hamburger-menu span{
        height: 2px;
        width: 20px;
        background-color: #252A2B;
        position: absolute;
        left: 0;
    }

    .hamburger-menu span:nth-child(1){
        top: 0;
    }

    .hamburger-menu span:nth-child(2){
        top: 49%;
    }

    .hamburger-menu span:nth-child(3){
        top: 100%;
    }
}
